*{
    margin:0;
    padding:0;
}



.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header-main{
    width: 100%;
    height: 100px;
    background-color: #6b8f71;
    display: flex;
    justify-content: space-between;
}
.header-main-logo {
    width: fit-content;
    height: 100px;
    display: flex;
    position: relative;
    padding-left: 500px;
    margin-left: auto;
    margin-right: auto;
}
.header-main-logo img{
    height: 100px;
    align-self: center;
}
.header-main-nav {
    display: flex;
    width: fit-content;
    height: 100px;
    align-items: center;
}
.header-main-nav ul{
    list-style: none;
    margin-left: 30px;
}
.header-main-nav ul li{
    display: inline;
    float: left;
}
.header-main-nav ul li a{
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 60px;
    color: white;
}
.header-main-nav ul li a:hover{
    color: #eae0d5;
}
.header-main-sm{
    width: fit-content;
    height: 100px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
/*tämä on kuvan se b*/
.header-main-sm-fb {
    width: 30px;
    height: 30px;
    background-image: url(../img/shopping-bag.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-fb:hover {
    background-image: url(../img/shopping-bag-color.png);
}
/*tama on suurennuslasi*/
/*.header-main-sm-in {
    width: 30px;
    height: 30px;
    background-image: url(../img/search-removebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-in:hover {
    background-image: url(../img/search-removebg-color.png);
}
*/
/* 	;*/
/* Tämä on search-bar css */

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #0d2b1d;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: relative;
	font-size: 22px;
	width: 100%;
	margin: 40%;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
    margin: 40%;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}



/*SLIDESHOW*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1900px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #eae0d5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #eae0d5;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*footer eli sivun alhaalla oleva osio*/
footer {
   /* text-align: center; */
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, calc(25% - 20px)); 
    padding: 3px;
    background-color: #6b8f71;
    color: white;
  }

.footer-element1 {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 10px;
}
.footer-element2 {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 10px;
}
.footer-element3 {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 10px;
}
.footer-element4 {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 10px;
}

.tausta {
    background-color: #6b8f71;
    padding: 200px;
    position: relative;
    bottom: 50px;
}

.tekstitausta {
    background-color: #eae0d5;
    width: 30%;
    border-radius: 2px;
   /* border: 1px solid #0c0c0c; */
    padding: 100px;
    position: absolute;
    top: 85px;
    box-shadow: 0 4px 8px 0 #eae0d5, 0 6px 20px 0 #eae0d5;
    
}

.jinx-kuva {
    position: absolute;
    top: 75px;
    left: 1100px;
}
