
h2 {
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
}


/* Haku bar  */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #0d2b1d;
    background-color: #eae0d5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #0d2b1d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #6b8f71;
  }

  /* Haku bar end */


  /* oikea kirjoitus osio*/
  .container {
    box-shadow: 0 4px 8px 0 #0d2b1d, 0 6px 20px 0 #0d2b1d;
    position: relative;
    float: right;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #6b8f71;
    padding: 100px;
    margin-right: 125px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    bottom: 200px;

  }

  body {
    background-color: #eae0d5;
}
    /* Pitkä alla oleva osio*/
    
  .information_support {
    top: 200px;
    left: -1px;
    width: 100%;
    padding: 50px;
    position: relative;
    border: 1px solid black;
    background-color:  #0d2b1d;
    color:  #eae0d5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 16px;
    font-family: 'Courier New', Courier, monospace;

  }

/* kukka kuva sivulla*/
.kukkakuva {
margin-top: 350px;
margin-left: 25px;

}
/*loppu*/

  /* Clothing panels */

.rivit {
  float: left;
  width: 25%;
  padding: 100px;
  border: 35px solid #0D2B1D;
  margin-top: 25px;
  margin-bottom: 125px;

}



 /* End of clohing panels */